// Fontes
$fonte: 'Red Hat Display', sans-serif;

// Cores
$cor-primaria: hsl(225, 100%, 94%);
$cor-secundaria:hsl(245, 75%, 52%);
$cor-terciaria: hsl(224, 23%, 55%);
$cor-fundo: hsl(225, 100%, 98%);
$cor-neutra:hsl(223, 47%, 23%);

// tamanho das fontes
$tamanho-do-texto: 3rem;
